@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3d3e38;
  --secondary-color-light: #3d3e380d;
  --secondary-color-dark: #8e998a;
  --accent-color-dark: #342713;
  --accent-color-light: #8e998a33;
  --text-color-light: #fbfbfe;
  --text-color-dark: #050316;
  --background-color: #fbfbfe;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  color: var(--text-color-dark);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 1rem 10rem;
  z-index: 9999;
  position: sticky;
  top: 0px;
  box-shadow: 0px 0px 20px -15px #00000080;
}

.header-brand {
  font-size: larger;
  font-weight: 800;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
}

.nav-item {
  font-weight: bold;
  cursor: pointer;
}

.home {
  padding: 1.5rem 10rem;
  height: 95vh;
  /* text-align: center; */
  align-items: center;

  .title-home {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
  }

  .subtitle-home {
    width: 100%;
    display: block;
    letter-spacing: 10px;
  }

  .img-home {
    mix-blend-mode: darken;
    border-radius: 20px;
    width: 700px;
    height: 500px;
  }

  .title-hightlight-home {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color-dark);
    color: transparent;
  }

  .title-name {
    font-size: 20px;
    text-align: right;
    margin-top: -35px;
    padding: 0 50px;
  }
}

.nav-link {
  position: relative;
  color: var(--text-color-dark);
  text-decoration: none;
  padding-bottom: 7px;
}

.nav-link.active {
  color: var(--text-color-dark);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 0;
  justify-self: center;
  border-radius: 100px;
  right: 0;
  height: 4px;
  background-color: var(--text-color-dark);
  bottom: 0;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  justify-self: center;
  border-radius: 100px;
  background-color: var(--text-color-dark);
  bottom: 0;
  left: 0;
  right: 0;
  /* transform: scaleX(0); */
  transition: all 0.3s ease;
}

.nav-link:hover::after {
  width: 80%;
  left: 0;
  transform: translateX(0);
}

.about {
  gap: 120px;
  background-color: var(--primary-color);
  padding: 7rem 10rem;
  color: var(--text-color-light);
  display: flex;

  img {
    width: 400px;
  }

  .title-about {
    letter-spacing: 10px;
  }

  .title-tagline {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
  }

  .sub-title-tagline {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color-light);
    color: transparent;
  }

  .title-desc {
    text-wrap: balance;
  }

  .img-about {
    border-radius: 20px;
  }
}

.service {
  background-color: var(--background-color);
  padding: 7rem 10rem;
  color: var(--text-color-dark);
  text-align: center;

  .title-service {
    letter-spacing: 10px;
  }

  .title-tagline {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
  }

  .sub-title-tagline {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color-dark);
    color: transparent;
  }

  .card {
    justify-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary-color-light);
    transition: color 0.5s ease, background-color 0.5s ease, letter-spacing 0.5s ease;
  }

  .card:hover {
    color: var(--text-color-light);
    background-color: var(--secondary-color-dark);
    letter-spacing: 7px;
  }

  .card img {
    transition: filter 0.5s ease;
  }

  .card:hover img {
    filter: invert(1);
  }
}

.project {
  background-color: var(--background-color);
  padding: 7rem 10rem;
  color: var(--text-color-dark);
  text-align: center;

  .title-project {
    letter-spacing: 10px;
  }

  .title-tagline {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
  }

  .sub-title-tagline {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color-dark);
    color: transparent;
  }

  .img-container {
    position: relative;
    display: inline-block;
  }

  .img-project {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 0.5s ease;
  }

  .title-img {
    cursor: pointer;
    font-size: medium;
    color: var(--text-color-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .img-container:hover .img-project {
    filter: brightness(0.5);
  }

  .img-container:hover .title-img {
    opacity: 1;
  }


  /* .btn-filter-project.active {
    font-size: medium;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: var(--secondary-color-dark);
    color: var(--text-color-light);
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .btn-filter-project:hover {
    color: var(--text-color-light);
    background-color: var(--secondary-color-dark);
  } */
}

.contact {
  background-color: var(--accent-color-light);
  padding: 5rem 10rem;
  color: var(--text-color-dark);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .title-tagline {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
  }

  .sub-title-tagline {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color-dark);
    color: transparent;
  }

  .btn-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: medium;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: var(--secondary-color-dark);
    color: var(--text-color-light);
    transition: background-color 0.5s ease, width 0.5s ease;
  }

  .btn-contact:hover {
    width: 200px;
    background-color: var(--primary-color);
  }
}

.testimonial {
  background-color: var(--background-color);
  padding: 7rem 10rem;
  color: var(--text-color-dark);
  text-align: center;

  .title {
    letter-spacing: 10px;
  }

  .tagline {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
  }

  .sub-tagline {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color-dark);
    color: transparent;
  }

  .card {
    justify-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary-color-light);
    transition: color 0.5s ease, background-color 0.5s ease, letter-spacing 0.5s ease;
  }

  .card .title-card {
    font-size: large;
    font-weight: 600;
  }

  .card .subtitle-card {
    opacity: 0.5;
  }

  .card .rating-card {
    align-items: center;
    display: flex;
    gap: 0.3rem;
    font-weight: 700;
  }

  .card .desc-card {
    padding-top: 1rem;
    text-align: left;
  }
}

.footer {
  background-color: var(--primary-color);
  padding: 1rem 10rem;
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-social {
  justify-items: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  background-color: var(--secondary-color-light);
  border-radius: 20px;
  align-content: center;
  transition: background-color 0.3s ease;
}

.icon-social-footer {
  justify-items: center;
  display: inline-block;
  width: 30px;
  height: 25px;
  min-height: 100%;
  text-align: center;
  background-color: var(--secondary-color-light);
  border-radius: 5px;
  align-content: center;
  transition: background-color 0.3s ease;
}

.icon-social:hover {
  background-color: var(--secondary-color-dark);
}

.icon-social-footer:hover {
  background-color: var(--secondary-color-dark);
}

.icon-social svg {
  transition: filter 0.3s ease;
}

.icon-social:hover svg {
  filter: invert(1);
}
