@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3d3e38;
  --secondary-color-light: #3d3e380d;
  --secondary-color-dark: #8e998a;
  --accent-color-dark: #342713;
  --accent-color-light: #8e998a33;
  --text-color-light: #fbfbfe;
  --text-color-dark: #050316;
  --background-color: #fbfbfe;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  color: var(--text-color-dark);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

.icon-social {
  justify-items: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  background-color: var(--secondary-color-light);
  border-radius: 20px;
  align-content: center;
  transition: background-color 0.3s ease;
}

.icon-social:hover {
  background-color: var(--secondary-color-dark);
}

.icon-social svg {
  transition: filter 0.3s ease;
}

.icon-social:hover svg {
  filter: invert(1);
}

/* Medium Devices (Tablet Landscape and Small Desktops) - <= 1024px */
@media (max-width: 1024px) {
  .icon-social {
    width: 30px;
    height: 30px;
  }

  .icon-social svg {
    font-size: 1rem;
  }
}

/* Small Devices (Tablet Portrait) - <= 768px */
@media (max-width: 768px) {
  .home {
    padding: 1rem 1.5rem;
    
    ul {
      justify-content: center;
    }
  }
}
