.project {
  background-color: var(--background-color);
  padding: 7rem 10rem;
  color: var(--text-color-dark);
  text-align: center;

  .title-project {
    letter-spacing: 10px;
  }

  .title-tagline {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
  }

  .sub-title-tagline {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color-dark);
    color: transparent;
  }

  .img-container {
    position: relative;
    display: inline-block;
  }

  .img-project {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 0.5s ease;
  }

  .title-img {
    cursor: pointer;
    font-size: medium;
    color: var(--text-color-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .img-container:hover .img-project {
    filter: brightness(0.5);
  }

  .img-container:hover .title-img {
    opacity: 1;
  }

  #project-col-3 {
    display: grid;
  }

  #project-col-2 {
    display: none;
  }
}

/* Medium Devices (Tablet Landscape and Small Desktops) - <= 1024px */
@media (max-width: 1024px) {
  .project {
    padding: 5rem 4rem;

    .title-project {
      font-size: 15px;
      line-height: 20px;
    }

    .title-tagline {
      font-size: 40px;
      line-height: 45px;
    }
  }
}

/* Small Devices (Tablet Portrait) - <= 768px */
@media (max-width: 768px) {
  .project {
    padding: 3rem 1.5rem;
    
    .title-project {
      font-size: 15px;
    }

    .title-tagline {
      font-size: 40px;
      line-height: 45px;
    }

    .container-card {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.25rem;
    }

    #project-col-3 {
      display: none;
    }
    
    #project-col-2 {
      display: grid;
    }
  }
}